In [ ]:
#Collection of data from Kaggle
import kaggle
import zipfile
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta
import pytz

In [2]:
# Data source - Collected from Kaggle Dataset
# https://www.kaggle.com/datasets/aryansingh0909/nyt-articles-21m-2000-present
!kaggle datasets download -d aryansingh0909/nyt-articles-21m-2000-present

Dataset URL: https://www.kaggle.com/datasets/aryansingh0909/nyt-articles-21m-2000-present
License(s): CC0-1.0

In [3]:
# Unzip the downloaded file
with zipfile.ZipFile('nyt-articles-21m-2000-present.zip', 'r') as zip_ref:
    zip_ref.extractall()

In [4]:
#Read CSV file using pandas library
data = pd.read_csv('nyt-metadata.csv')
print(data.info())

C:\Users\Abilash\AppData\Local\Temp\ipykernel_2096\1814246835.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('nyt-metadata.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191681 entries, 0 to 2191680
Data columns (total 20 columns):
 #   Column            Dtype
---  ------            -----
 0   abstract          object
 1   web_url           object
 2   snippet           object
 3   lead_paragraph    object
 4   print_section     object
 5   print_page        object
 6   source            object
 7   multimedia        object
 8   headline          object
 9   keywords          object
 10  pub_date          object
 11  document_type     object
 12  news_desk         object
 13  section_name      object
 14  byline            object
 15  type_of_material  object
 16  _id               object
 17  word_count        float64
 18  uri               object
 19  subsection_name   object
dtypes: float64(1), object(19)
memory usage: 334.4+ MB
None

In [16]:
# Copy the data in different variable for future reference
df = pd.DataFrame(data)

In [17]:
df.head()

,abstract,web_url,snippet,lead_paragraph,print_section,print_page,source,multimedia,headline,keywords,pub_date,document_type,news_desk,section_name,byline,type_of_material,_id,word_count,uri,subsection_name
0,Article on upcoming New York Giants-Dallas Cow...,https://www.nytimes.com/2000/01/01/sports/pro-...,Article on upcoming New York Giants-Dallas Cow...,Waiting in the visiting locker room at Texas S...,D,2.0,The New York Times,[],"{'main': 'Playoffs or No, Dallas Provides The ...","[{'name': 'organizations', 'value': 'New York ...",2000-01-01 05:00:00+00:00,article,Sports Desk,Sports,"{'original': 'By Bill Pennington', 'person': [...",News,nyt://article/01111a48-3502-5021-8096-bc929379...,819.0,nyt://article/01111a48-3502-5021-8096-bc929379...,NaN
1,Jeanne C Pond letter expresses hope that spiri...,https://www.nytimes.com/2000/01/01/opinion/l-o...,Jeanne C Pond letter expresses hope that spiri...,To the Editor:,A,30.0,The New York Times,[],"{'main': 'On This First Day, a Fanfare for the...","[{'name': 'persons', 'value': 'Pond, Jeanne C'...",2000-01-01 05:00:00+00:00,article,Editorial Desk,Opinion,"{'original': '', 'person': [], 'organization':...",Letter,nyt://article/02328edc-dad1-5eb0-900e-917162e4...,122.0,nyt://article/02328edc-dad1-5eb0-900e-917162e4...,NaN
2,Many experts on Y2K computer problem report th...,https://www.nytimes.com/2000/01/01/us/1-1-00-t...,Many experts on Y2K computer problem report th...,As the world slid nervously yesterday through ...,A,10.0,The New York Times,[],"{'main': ""Internet's Cheering Squad Nervously ...","[{'name': 'subject', 'value': 'Electronic Mail...",2000-01-01 05:00:00+00:00,article,National Desk,U.S.,"{'original': 'By Barnaby J. Feder', 'person': ...",News,nyt://article/02a8f89b-153f-5b84-983c-e328de5b...,761.0,nyt://article/02a8f89b-153f-5b84-983c-e328de5b...,NaN
3,WILL the forces of globalism continue to push ...,https://www.nytimes.com/2000/01/01/news/vision...,NaN,WILL the forces of globalism continue to push ...,E,4.0,The New York Times,[],{'main': 'Economic Thinking Finds a Free Marke...,[],2000-01-01 05:00:00+00:00,article,The Millennium,Archives,"{'original': 'By Floyd Norris', 'person': [{'f...",News,nyt://article/0634d837-97b8-59b5-aa17-f90d1a89...,916.0,nyt://article/0634d837-97b8-59b5-aa17-f90d1a89...,NaN
4,SPECIAL TODAY The Millennium Envisioning th...,https://www.nytimes.com/2000/01/01/nyregion/in...,NaN,SPECIAL TODAY,A,1.0,The New York Times,[],"{'main': 'INSIDE', 'kicker': None, 'content_ki...",[],2000-01-01 05:00:00+00:00,article,Metropolitan Desk,New York,"{'original': '', 'person': [], 'organization':...",Summary,nyt://article/0654cc64-c37f-594d-9290-1ce578cd...,102.0,nyt://article/0654cc64-c37f-594d-9290-1ce578cd...,NaN

In [18]:
# Drop unwatned columns

df.drop(['print_section', 
         'snippet', 'print_page', 'source', 
         'document_type', 'byline', 'keywords',  
         'news_desk', 'type_of_material',  '_id', 
         'word_count', 'uri', 'multimedia', 
         'subsection_name'], axis=1, inplace=True)

In [19]:
df.isnull().sum()

abstract          31917
web_url               1
lead_paragraph    41988
headline              1
pub_date              1
section_name       2010
dtype: int64

In [20]:
# drop the row where date is having null values
df.dropna(subset=['pub_date'], inplace=True)

In [21]:
# Fill the null values in the leadparagraph column from abstract 
df['lead_paragraph'] = np.where(df['lead_paragraph'].isnull(),
                                   df['abstract'],
                                   df['lead_paragraph'])

In [22]:
# drop the row where date is having null values
df.dropna(subset=['pub_date'], inplace=True)

In [23]:
df.isnull().sum()

abstract          31917
web_url               1
lead_paragraph    31916
headline              0
pub_date              0
section_name       2009
dtype: int64

In [25]:
# Convert the date into datetime format from object
df['pub_date'] = pd.to_datetime(df['pub_date'], 
    format="%Y-%m-%d %H:%M:%S%z", 
    errors='coerce')

In [26]:
# Create start and end date range for data filtering
start_date = datetime(2015,1,1, tzinfo=pytz.UTC)

end_date = datetime(2025,4,10, tzinfo=pytz.UTC)

In [27]:
# Filter the DataFrame to include only rows with pub_date within the last 10 years
df_filtered = df[(df['pub_date'] >= start_date) & (df['pub_date'] <= end_date)]

In [28]:
# Print the first few rows of the filtered DataFrame
print(df_filtered.head())
print(df_filtered.isnull().sum())

                                                  abstract  \
1683550  A writing table anchors a home built on a gran...
1683551  Building a modern loft in Portland, Ore., suff...
1683552  Building a loft in Portland, Ore., suffused wi...
1683553  A writing table anchors a home built on a gran...
1683554  Farhad Manjoo picks four products from 2014 th...

                                                   web_url  \
1683550  https://www.nytimes.com/slideshow/2015/01/01/g...
1683551  https://www.nytimes.com/slideshow/2015/01/01/g...
1683552  https://www.nytimes.com/2015/01/01/garden/the-...
1683553  https://www.nytimes.com/2015/01/01/garden/a-si...
1683554  https://www.nytimes.com/2015/01/01/technology/...

                                            lead_paragraph  \
1683550  A writing table anchors a home built on a gran...
1683551  Building a modern loft in Portland, Ore., suff...
1683552  For Joan Childs, southeast Portland, Ore., is ...
1683553  This story begins with a wooden table. My gran...
1683554  LOTS of cool new technology products come out ...

                                                  headline  \
1683550  {'main': 'They Knew What They Wanted', 'kicker...
1683551  {'main': 'Industrial Sleek', 'kicker': None, '...
1683552  {'main': 'The Imperfectionists', 'kicker': 'On...
1683553  {'main': 'A Simple Gift', 'kicker': 'Domestic ...
1683554  {'main': 'Standouts in Tech: Drones, Virtual R...

                         pub_date   section_name
1683550 2015-01-01 00:03:03+00:00  Home & Garden
1683551 2015-01-01 00:03:12+00:00  Home & Garden
1683552 2015-01-01 00:03:50+00:00  Home & Garden
1683553 2015-01-01 00:03:53+00:00  Home & Garden
1683554 2015-01-01 00:26:30+00:00     Technology
abstract          847
web_url             0
lead_paragraph    847
headline            0
pub_date            0
section_name      984
dtype: int64

In [29]:
# Store the dataframe as CSV file
df_filtered.to_csv('raw_data.csv')

In [ ]:
import boto3
from botocore.exceptions import ClientError
import json

In [63]:
with open('secrets.json') as f:
    secrets = json.load(f)

In [65]:
access_key = secrets['AWS_ACCESS_KEY']
secret_key = secrets['AWS_SECRET_KEY']

In [66]:
# Connect with AWS S3 Client
s3_client = boto3.client(
    's3',
    aws_access_key_id=access_key,
    aws_secret_access_key=secret_key
    )

In [67]:
bucket = s3_client.list_buckets()
bucket

{'ResponseMetadata': {'RequestId': '799GGNJG6GZSW9HT',
  'HostId': '2nzLdhb92uIzaN64SiGHYOtgSjXex+/XV3Fg0S5AGKItYpBERTzMLpkaj98nqSJ9TBovcdoszvk=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '2nzLdhb92uIzaN64SiGHYOtgSjXex+/XV3Fg0S5AGKItYpBERTzMLpkaj98nqSJ9TBovcdoszvk=',
   'x-amz-request-id': '799GGNJG6GZSW9HT',
   'date': 'Tue, 06 May 2025 15:44:18 GMT',
   'content-type': 'application/xml',
   'transfer-encoding': 'chunked',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'Buckets': [{'Name': 'senticonomyguvi',
   'CreationDate': datetime.datetime(2025, 5, 6, 14, 11, 42, tzinfo=tzutc())}],
 'Owner': {'DisplayName': 'nimsysekhar',
  'ID': 'e0e381db0c82dc8f74204a1059d39fb80acbf3bbf7b49707c1efa29f6aabd5f8'}}

In [ ]:
# AWS Upload"
file = "raw_data.csv"
try:
    s3_client.upload_file(file, 'senticonomyguvi', 'raw_data.csv')
    print(f"File {file} uploaded successfully to S3 bucket 'senticonomy'")
except ClientError as e:
    print(f"Error uploading file {file} to S3 bucket 'senticonomy': {e}")

File raw_data.csv uploaded successfully to S3 bucket 'senticonomy'

In [ ]:
# AWS Download"
s3_client.download_file('senticonomyguvi', 'raw_data.csv', 'uncleaned_data.csv')  #(Bucket name, File Name, Downloading Path)

In [ ]:
#Cleaning Collected Data
# Read csv file and store as Dataframe
uncleaned_data = pd.read_csv('uncleaned_data.csv')
df = pd.DataFrame(uncleaned_data)

In [18]:
pd.set_option('display.max_colwidth', None)

In [19]:
# Drop the column name "Unnamed"
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [20]:
# convert the date into datetime format
df['pub_date'] = pd.to_datetime(df['pub_date'])

In [21]:
# Extract day, month, year and time from 'pub_date' column for better analysis

df['year'] = df['pub_date'].dt.year
df['month'] = df['pub_date'].dt.month
df['day'] = df['pub_date'].dt.day
df['day_of_week'] = df['pub_date'].dt.day_name()
df['date'] = df['pub_date'].dt.date
df['time'] = df['pub_date'].dt.time

In [22]:
import pandas as pd
import ast
import numpy as np
import os

In [23]:
# Extract main Headline from headline column which has dictionary type of data
df['headline'] = df['headline'].apply(lambda x: ast.literal_eval(x)['main'])

In [24]:
# Fill the lead_paragraph column with abstract column info where lead_paragraph column has only the info of "To the Editor:" (Seen in many rows)
df['lead_paragraph'] = np.where(df['lead_paragraph'] == 'To the Editor:',
                                   df['abstract'] ,
                                   df['lead_paragraph'])

In [25]:
# Rename the column names for better understanding
df.rename(columns={'lead_paragraph': 'content', 'section_name': 'category'}, inplace=True)

In [26]:
category = ["Travel", "Technology", "Science", "Health", "Food", "Education", "Sports"]
df = df[df['category'].isin(category)]
unique_categories, counts = np.unique(df['category'], return_counts=True)

In [27]:
for category, count in zip(unique_categories, counts):
    print(f"{category}: {count}")

df.drop(['abstract', 'pub_date'], axis=1, inplace=True)

print(df.isnull().sum())

Education: 2167
Food: 10177
Health: 6056
Science: 6439
Sports: 30412
Technology: 9434
Travel: 5651
web_url         0
content        14
headline        0
category        0
year            0
month           0
day             0
day_of_week     0
date            0
time            0
dtype: int64

In [28]:
new_df = df[['date', 'time', 'headline', 'content', 'web_url', 'category', 'day', 'month', 'day_of_week', 'year']]

new_df.to_csv('cleaned_news_data.csv')

In [29]:
file_size = os.path.getsize('cleaned_news_data.csv')

In [30]:
if file_size < 1024:
    print(f"The size of the CSV file is: {file_size} bytes")
elif file_size < 1024 ** 2:
    print(f"The size of the CSV file is: {file_size / 1024:.2f} KB")
else:
    print(f"The size of the CSV file is: {file_size / (1024 ** 2):.2f} MB")

The size of the CSV file is: 29.79 MB

In [2]:
#Building Model
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk import download
from sklearn.cluster import KMeans
from transformers import pipeline
from textblob import TextBlob
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import os

d:\Sentiment_Analysis\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.
None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.

In [3]:
download('punkt')
download('wordnet')
download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Abilash\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Abilash\AppData\Roaming\nltk_data...
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Abilash\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [4]:
df = pd.read_csv("cleaned_news_data.csv")

In [8]:
df

,Unnamed: 0,date,time,headline,content,web_url,category,day,month,day_of_week,year
0,4,2015-01-01,00:26:30,"Standouts in Tech: Drones, Virtual Reality, In...",LOTS of cool new technology products come out ...,https://www.nytimes.com/2015/01/01/technology/...,Technology,1,1,Thursday,2015
1,7,2015-01-01,00:49:41,Canada Holds Off U.S. in Preliminary Junior Ch...,"MONTREAL — Led by a line of Sam Reinhart, Max ...",https://www.nytimes.com/2015/01/01/sports/hock...,Sports,1,1,Thursday,2015
2,15,2015-01-01,01:20:51,Doug Marrone Quits Bills and Is Said to Draw J...,Doug Marrone opted out of his contract as coac...,https://www.nytimes.com/2015/01/01/sports/foot...,Sports,1,1,Thursday,2015
3,22,2015-01-01,01:43:15,Sugar Bowl 2015: Alabama vs. Ohio State Preview,SUGAR BOWL,https://www.nytimes.com/2015/01/01/sports/ncaa...,Sports,1,1,Thursday,2015
4,23,2015-01-01,01:43:41,Florida State vs. Oregon: Rose Bowl Preview,ROSE BOWL,https://www.nytimes.com/2015/01/01/sports/ncaa...,Sports,1,1,Thursday,2015
...,...,...,...,...,...,...,...,...,...,...,...
70331,508081,2025-04-01,18:07:48,Federal Health Work Force Makes Up Less Than 1...,"A few days ago, Robert F. Kennedy Jr., the hea...",https://www.nytimes.com/2025/04/01/health/hhs-...,Health,1,4,Tuesday,2025
70332,508085,2025-04-01,18:19:48,He Wore a ‘Patriotic’ Hat to a Blue Jays Game....,A fan got kicked out of a baseball stadium las...,https://www.nytimes.com/2025/04/01/sports/base...,Sports,1,4,Tuesday,2025
70333,508090,2025-04-01,19:21:23,More than 230 People Infected With Norovirus o...,More than 230 passengers and crew members have...,https://www.nytimes.com/2025/04/01/travel/noro...,Travel,1,4,Tuesday,2025
70334,508096,2025-04-01,20:30:00,How to Organize Your Pantry,[This article was originally published in Janu...,https://cooking.nytimes.com/article/pantry-sta...,Food,1,4,Tuesday,2025
70335,508098,2025-04-01,20:31:54,This Tree Wants to Be Struck by Lightning,"When lightning strikes a tree in the tropics, ...",https://www.nytimes.com/2025/04/01/science/tre...,Science,1,4,Tuesday,2025

In [9]:
df.isna().sum()

Unnamed: 0      0
date            0
time            0
headline        2
content        14
web_url         0
category        0
day             0
month           0
day_of_week     0
year            0
dtype: int64

In [10]:
df['headline'] = df['headline'].fillna('')
df['content'] = df['content'].fillna('')

In [11]:
df.isna().sum()

Unnamed: 0     0
date           0
time           0
headline       0
content        0
web_url        0
category       0
day            0
month          0
day_of_week    0
year           0
dtype: int64

In [12]:
vectorizer = TfidfVectorizer(stop_words='english', max_features=5000)
x = vectorizer.fit_transform(df['category']+ " "+df['headline'] )

In [13]:
no_of_clusters = len(df['category'].unique())

In [14]:
kmeans = KMeans(n_clusters=no_of_clusters, random_state=42, n_init=10)
df['cluster'] = kmeans.fit_predict(x)
unique_cluster, counts = np.unique(df['cluster'], return_counts=True)
inertia = kmeans.inertia_
print(f'The model inertia is: {inertia}')

The model inertia is: 66909.51048578949

In [15]:
df = df.copy()
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [16]:
nltk.download('vader_lexicon')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt_tab')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Abilash\AppData\Roaming\nltk_data...
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Abilash\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Abilash\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Abilash\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [17]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

sia = SentimentIntensityAnalyzer()

In [18]:
def process_text(text):
    # Tokenize the text into words
    words = word_tokenize(text)

    # Remove stop words and lemmatize the words
    words = [lemmatizer.lemmatize(word.lower()) for word in words if word.lower() not in stop_words]
    return ' '.join(words)

In [19]:
def calculate_sentiment_score(text):
    sentiment_score = sia.polarity_scores(text)
    return sentiment_score

In [20]:
df['processed_content'] = df['content'].apply(process_text)
df['sentiment_score'] = df['processed_content'].apply(calculate_sentiment_score)
df['neg'] = df['sentiment_score'].apply(lambda x: x['neg'])
df['neu'] = df['sentiment_score'].apply(lambda x: x['neu'])
df['pos'] = df['sentiment_score'].apply(lambda x: x['pos'])
df['compound'] = df['sentiment_score'].apply(lambda x: x['compound'])
df.drop(['sentiment_score', 'processed_content'], axis=1, inplace=True)
print(df[['category', 'cluster', 'neg', 'neu', 'pos', 'compound']].tail(50))

         category  cluster    neg    neu    pos  compound
70286  Technology        6  0.000  1.000  0.000    0.0000
70287     Science        3  0.000  1.000  0.000    0.0000
70288      Travel        0  0.256  0.568  0.176   -0.7506
70289        Food        4  0.000  0.209  0.791    0.9577
70290     Science        3  0.000  0.672  0.328    0.8280
70291      Health        5  0.000  0.690  0.310    0.5423
70292  Technology        6  0.000  0.763  0.237    0.4767
70293     Science        3  0.244  0.651  0.104   -0.5106
70294      Travel        0  0.000  0.506  0.494    0.8316
70295        Food        4  0.000  0.071  0.929    0.9184
70296        Food        4  0.180  0.820  0.000   -0.5913
70297  Technology        6  0.098  0.902  0.000   -0.5574
70298     Science        3  0.000  1.000  0.000    0.0000
70299     Science        3  0.000  1.000  0.000    0.0000
70300      Travel        0  0.349  0.651  0.000   -0.8442
70301        Food        4  0.000  1.000  0.000    0.0000
70302  Technology        6  0.256  0.744  0.000   -0.4767
70303  Technology        6  0.000  0.892  0.108    0.1779
70304        Food        4  0.000  1.000  0.000    0.0000
70305     Science        3  0.000  1.000  0.000    0.0000
70306  Technology        6  0.000  0.896  0.104    0.2732
70307      Health        5  0.266  0.640  0.094   -0.6249
70308     Science        3  0.081  0.811  0.108    0.2023
70309        Food        4  0.000  0.732  0.268    0.5106
70310        Food        4  0.133  0.867  0.000   -0.3818
70311        Food        4  0.000  1.000  0.000    0.0000
70312      Sports        1  0.114  0.762  0.124   -0.1779
70313        Food        4  0.000  0.724  0.276    0.7845
70314      Health        5  0.000  0.915  0.085    0.3400
70315      Health        5  0.000  1.000  0.000    0.0000
70316      Travel        0  0.000  1.000  0.000    0.0000
70317  Technology        6  0.000  1.000  0.000    0.0000
70318        Food        4  0.000  0.649  0.351    0.8977
70319  Technology        6  0.000  1.000  0.000    0.0000
70320      Travel        0  0.000  0.717  0.283    0.6486
70321        Food        4  0.140  0.787  0.073   -0.2960
70322        Food        4  0.218  0.782  0.000   -0.4184
70323        Food        4  0.000  0.752  0.248    0.9260
70324      Travel        0  0.000  1.000  0.000    0.0000
70325        Food        4  0.000  1.000  0.000    0.0000
70326      Health        5  0.071  0.667  0.262    0.6124
70327        Food        4  0.157  0.591  0.251    0.7906
70328     Science        3  0.128  0.872  0.000   -0.4215
70329        Food        4  0.036  0.927  0.037    0.0258
70330      Health        5  0.000  0.736  0.264    0.8225
70331      Health        5  0.000  1.000  0.000    0.0000
70332      Sports        1  0.173  0.703  0.124   -0.2263
70333      Travel        0  0.163  0.837  0.000   -0.5423
70334        Food        4  0.000  1.000  0.000    0.0000
70335     Science        3  0.200  0.800  0.000   -0.1280

In [21]:
df.drop(['web_url', 'time', 'day', 'month'], axis=1, inplace=True)

df.to_csv("final_data.csv")

new_df = pd.read_csv("final_data.csv")

print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70336 entries, 0 to 70335
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   70336 non-null  int64
 1   date         70336 non-null  object
 2   headline     70334 non-null  object
 3   content      70322 non-null  object
 4   category     70336 non-null  object
 5   day_of_week  70336 non-null  object
 6   year         70336 non-null  int64
 7   cluster      70336 non-null  int64
 8   neg          70336 non-null  float64
 9   neu          70336 non-null  float64
 10  pos          70336 non-null  float64
 11  compound     70336 non-null  float64
dtypes: float64(4), int64(3), object(5)
memory usage: 6.4+ MB
None

In [22]:
print(new_df.isnull().sum())

Unnamed: 0      0
date            0
headline        2
content        14
category        0
day_of_week     0
year            0
cluster         0
neg             0
neu             0
pos             0
compound        0
dtype: int64

In [23]:
file_size = os.path.getsize('final_data.csv')

In [24]:
if file_size < 1024:
    print(f"The size of the CSV file is: {file_size} bytes")
elif file_size < 1024 ** 2:
    print(f"The size of the CSV file is: {file_size / 1024:.2f} KB")
else:
    print(f"The size of the CSV file is: {file_size / (1024 ** 2):.2f} MB")

The size of the CSV file is: 24.60 MB

In [15]:
#AWS Model Upload to DB
# Import required packages
import pandas as pd
import json
import sqlalchemy

In [16]:
# Load secrets from secrets.json
with open('secrets.json') as f:
    secrets = json.load(f)

In [17]:
# PostgreSQL DB Connection Parameters
host = "mypostgresdb.cze6w8e28cpt.ap-south-1.rds.amazonaws.com"
port = 5432
username = "postgres"
password = secrets['db_password']
db ="postgres"

In [18]:
engine_string = f'postgresql://{username}:{password}@{host}:{port}/{db}'

In [19]:
engine = sqlalchemy.create_engine(engine_string)

In [20]:
df = pd.read_csv("final_data.csv")

In [ ]:
#create postgresql db table in AWS
df.to_sql("final_data", con=engine, if_exists='replace')

336